---
layout: dme
title: CS 2316 - Schedule
---

<meta http-equiv="refresh" content="0; url=summer2018gtl.html" />

<p>This page should redirect to the current semester schedule.  If it doesn't, click on the current semester below, which should be the first one listed.</p>

<p><a href="summer2018gtl.html">Summer 2018 GTL</a></p>

<p><a href="spring2018.html">Spring 2018</a></p>

<p><a href="fall2017.html">Fall 2017</a></p>

<p><a href="summer2017gtl.html">Summer 2017 GTL</a></p>

<p><a href="spring2017.html">Spring 2017</a></p>

<p><a href="fall2016.html">Fall 2016</a></p>

<p><a href="summer2016.html">Summer 2016</a></p>

<p><a href="summer2014.html">Summer 2014</a></p>
